*
body
{
background-color:green;
}
header
{
background-color:red;
margin:10px;
padding.10px;
}
nav
{
background-color:yellow;
margin:20px;
padding.20px;
}
section
{
background-color:pink;
margin:30px;
padding.30px;
}
aside
{
background-color:white;
margin:40px;
padding.40px;
}
footer
{
background-color:black;
margin:50px;
padding.50px;
}